@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#F2F2F2;
}
.container{
    max-width: 100%;
    margin: 0 auto;
padding: 12px;
}

.header_image{
    /* width: 220px;
    height: 250px; */
    width: 100%;
    object-fit: cover;
}

.portfolio_Header{
    display:flex;
    flex-direction: column;
    padding: 20px;
    
width: 100%;
height: 100%; 
 background: #FFFFFF;
border-radius: 12px;
}

.right_inner_one, .inner_one_left{
    margin-bottom: 30px;
}

.icon{
    margin-right: 5px;
   
}

.inner_one_right > p{
    margin-bottom: 8px;
}

.name{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 29px;
width: 161px;
height: 29px;
color: #4F4F4F;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */
width: 188px;
height: 22px;

/* Gray 3 */

color: #828282;
}

.email, .contact{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* identical to box height */


/* Gray 2 */

color: #4F4F4F;
}

.right_inner_two > p{
    font-family: 'Montserrat', sans-serif;
    /* width: 230px; */
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

/* Gray 3 */

color: #828282;
}

.exp_image{
   width: 100%;
    height: 139px;
   border-radius: 20px;
   object-fit: cover;
}
.blogimage{
    /* width: 396px;
height: 321px; */
width: 100%;
}

.experience{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 30px;
   
}
.exp_top{
    width: auto;
    height: auto;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 12px;
}
figure{
    display: flex;
}

figure > label{
    flex-grow: 1;
   flex-basis: 0;
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #4F4F4F;
}

.exp_bottom{
    margin-top: 30px;
    width: auto;
    height: auto;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 12px;
   margin-bottom: 30px;
}

.exp_title{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-transform: uppercase;

/* Gray 2 */

color: #4F4F4F;
}

.exp_interest{
    margin-bottom: 30px;
}

.hobby_interest{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */
margin-top: 10px;
margin-bottom: 10px;

color: #333333;
}

.right_title_top{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
margin-bottom: 5px;
color: #E0E0E0;
}

.title_exp{
    font-family: 'Montserrat', sans-serif;
    width: 178px;
height: 87px;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #333333;
}


.descr{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #828282;
}

.date{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
width: 129px;
height: 17px;
margin-bottom: 10px;
color: #828282;

}


.exp_role{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height */
/* width: 170px;
height: 20px; */
margin-bottom: 10px;
color: #333333;
}

.exp_duty{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #828282;

}

.purpose{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #828282;
}




.right_exp_top {
    width: auto;
    height: auto;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 12px;
   
}

.right_exp_bottom{
    width: auto;
    height: auto;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 12px;
    margin-top: 30px;
}

.right_top{
    display: flex;
  
}

.blogimage{
    /* width: 50%; */
     width: 60%;
    height: auto;
    object-fit: cover;
}

.experience_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo{
    width: 75px;
    object-fit: fill;
height: 64px;
margin-right: 30px;
}

.project{
    width: 100%;
height: 115px;
background: #FFFFFF;
border-radius: 12px;
border-radius: 12px;
margin-top: 20px;
}

.project_item{
    font-family: 'Montserrat', sans-serif;
    /* width: 102px;
height: 22px; */
    padding: 45px;
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #4F4F4F;

}


.projectphoto{
    width: 100%;
height: auto;
}

.workdone{
    display: flex;
    flex-direction: column;
   

}
.work_one{
    background: #FFFFFF;
    border-radius: 12px;
    margin-top: 20px;
   padding: 20px;
}
.tags{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
margin-bottom: 10px;
color: #4F4F4F;
}

.work_title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #333333;
margin-bottom: 10px;
}

.work_desc{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
}
button{
    margin-top: 10px;
    margin-right: 20px;
}

.btn1{
    width: 125px;
height: 46px;
background: #5C94E1;
border-radius: 12px;
outline: none;
border: 1px solid #5C94E1;
}


.btn2{
    width: 118px;
height: 46px;
left: 367px;
top: 2169px;
outline: none;
border: 1px solid #5C94E1;
box-sizing: border-box;
border-radius: 12px;
}

footer{
    text-align: center;
    margin-top: 60px;
}

footer > a{
    border-top: 1px solid #A9A9A9;
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */
font-family: 'Montserrat', sans-serif;
text-decoration: none;
color: #A9A9A9;
}
@media screen and (min-width: 1024px) {




    .workdone{
        display: flex;
        flex-direction: row;
       padding-right: 20px;
   
    }
   
   
    .work_one{
        /* padding: 20px; */
        margin-right: 20px;
       
    }
    

    .experience_content{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .exp_title{
        font-size: 18px;
line-height: 22px;
    }

    .figure > label{
        font-size: 16px;
        line-height: 20px;

    }

    .right_title_top{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
    }

    .experience{
        display: flex;
        /* justify-content: space-between; */
        flex-direction: row;
        margin-top: 30px;
       
    }

.right_experience{
    padding-left: 30px;
}




 figure{
     display: flex;
   margin: 10px;
   
} 



figure > label{
display: flex;
flex-grow: 0.4;
flex-basis: 0;
}


    body{
        background-color: #F2F2F2;
    }

    .container{
       max-width:  70%;
        margin: 0 auto;
    padding: 18px;
    }


    .header_image{
       
        width: 220px;
        height: 250px;
        object-fit: cover;
    }

    .portfolio_Header{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 48px;
       
        height: 100%; 
         background: #FFFFFF;
        border-radius: 12px;
    }

   

.right_inner_one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name{
   
font-weight: 600;
font-size: 24px;
width: 164.46px;
height: 29px;
}
.title{
    font-size: 18px;
    width: 192.04px;
height: 22px;
}

.email, .contact{
    font-size: 18px;
    line-height: 22px;
   
}

.right_inner_two > p{
    padding-bottom: 35px;
    font-size: 18px;
line-height: 22px;
}

}


/* Ipad pro */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
body{
    background-color: #F2F2F2;
}

.container{
    width: 90%;
    margin: 0 auto;
padding: 12px;
}

.header_image{
       /* width: 60%; */
    width: 220px;
    height: 250px;
    object-fit: cover;
    
}

.left_content > img{
   padding-right: 30px;
}
.portfolio_Header{
    display:flex;
    flex-direction: row;
    /* justify-content: space-around; */
    padding: 28px;
   
    height: 100%; 
     background: #FFFFFF;
    border-radius: 12px;
}

.right_inner_one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

}